:root{
	--shadow-default: 0 3px 3px rgba(0,0,0,.25);
	--border-btn: 2px solid #FFF;
	--border-radius: 5px;
	--padding-btn: 10px;
	--margin-btn: 5px;
}

::-webkit-scrollbar {
  width:2px;
}
::-webkit-scrollbar-track{
	background: #FFF;
}
::-webkit-scrollbar-thumb{
	background:#AAA;
}

body{
	padding: 0; margin:0;
	font-family: Arial, Helvetica, sans-serif;
}
div{
	position:relative;
}

*.hidden{
	display: none !important;
}

#wrap{
	width: 1024px;
	height: 512px;
	background: linear-gradient(to bottom,  #ffffff 54%,#e5e5e5 100%);
	text-align: center;
	display:flex;
}

#loading{
	width: 100%;
	height: 100%;
	position: absolute;
	font-size: 32px;
	font-weight: bold;
	font-style: italic;
	display:flex;
	align-items: center;
	justify-content: center;
}

#content{
	display:flex;
	width: 100%;
	max-height:1024;
}


#left > div.help{
	position:absolute;
	width:30px;
	height:30px;
	border-radius: 15px;
	background:rgba(0,0,0,.5);
	top: var(--margin-btn);
	left: var(--margin-btn);
	cursor:pointer;
	box-shadow: var(--shadow-default);
	border: 2px solid rgba(0,0,0,0);
}
#left > div.help:hover{
	border: 2px solid rgba(0,0,0,.75);
	transform:scale(1.1);
}
#left > div.help > img{
	width:100%;
	height:100%;
	pointer-events: none;
}

#left h3{
	margin-bottom:0;
	text-align: right;
	margin-right: var(--padding-btn);
}
#left{
	width:20%;
	overflow:auto;
}
#left div.level{
	cursor:pointer;
	padding: var(--padding-btn);
	border: 1px solid #FFF;
	border-radius: var(--border-radius);
	margin: 1px var(--margin-btn);
	font-size: 16px;
	color: #333;
	text-align: right;
	box-sizing: border-box;
	box-shadow: var(--shadow-default);

}

#left div.level:hover,
#right > input.rez:hover{
	border-color: #AFA;
}
#right > input.rez:active{
	transform: scale(0.9);
}
#left div.level.active{
	border-color: #333;
	padding-left:10px;
}

#right{
	padding: 10px;
	border-left: 1px dotted rgba(0,0,0,.25);
	flex: 1;
	overflow: auto;
	text-align: center;
}

#right div.help{
	text-align: left;;
}

#right > h1{
	margin: 3px;
}
#right > p.subtitle{
	margin: 0;
	font-style: italic;
}
#right > div.meta{
	display: flex;
	width: 100%;
	justify-content: center;
}
#right > div.meta > div{
	margin: 5px;
	padding: var(--padding-btn);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow-default);
	background: #AFA;
	align-content: center;
}
#right > div.meta > div.landImpact{
	background: #FAA;
	font-weight: bold;
}
#right > div.meta > div.version{
	background: #FFA;
	font-weight: bold;
}
#right > div.meta > div.playerCount{
	font-weight:bold;
}
#right > p.desc{
	max-width:80%;
	font-size:20px; 
	display: inline-block;
	clear:both;
}
#right > p.category{
	max-width:80%;
	font-style: italic;
	display:inline-block;
	clear:both;
}

*.inputButton{
	cursor:pointer;
	margin: var(--margin-btn);
	padding: var(--padding-btn);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow-default);
	border: var(--border-btn);
	background: linear-gradient(to bottom, #EFE 0%, #AFA 100%);
	font-weight: bold;
	font-size:20px;
}

*.inputButton:disabled{
	background: #AAA !important;
}

#controls{
	position: absolute;
	bottom:5px; right:5px;
}

input.inputButton.refresh{
	background: linear-gradient(to bottom, #EFF 0%, #AFF 100%);
	margin:0;
}

input.inputButton.clean{
	background: linear-gradient(to bottom, #FEE 0%, #FAA 100%);
	margin:0;
}


